/* Font family */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
/* common shared styles */
*{
    font-family: 'Poppins', sans-serif;
}
body{
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-anchor{
    display: flex;
    gap: 20px;
    list-style: none;
}